@font-face {
  font-family: 'Helvetica Neue, Bold';
  src: url('../fonts/Helvetica-Neue-Bold.otf') format("truetype");
}

@font-face {
  font-family: 'Helvetica Neue, Regular';
  src: url('../fonts/Helvetica-Neue-Regular.otf') format("truetype");
}

@font-face {
  font-family: 'Helvetica Neue, Medium';
  src: url('../fonts/Helvetica-Neue-Medium.ttf') format("truetype");
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

  span {
    line-height: normal;
  }
}

