/* Animations */
.one_day_info {
  transition-timing-function: ease-out;
  transition: 0.5s;
  position: absolute;
  top: 0px;
  left: -100%;


  &.active {
    left: 0%;
    transition: 0.5s ease-in-out 0s;

    .day_info {
      .message_info {
        h1 {
          animation-name: titleAnimation;
          animation-timing-function: ease;
          animation-duration: 1.5s;
        }
      }
    }

    .day_info {
      .circle {
        .circle_info {
          h1 {
            transform: scale(1);
            transition: 0.7s ease-in-out 0.1s;
          }
        }
      }
    }
  }

  &.active_single {
    left: 0%;
    transition: 0.5s ease-in-out 0.5s;

    .day_info {
      .message_info {
        h1 {
          animation-name: titleAnimation;
          animation-timing-function: ease;
          animation-duration: 1.5s;
          animation-delay: 0.6s;
        }
      }
    }

    .day_info {
      .circle {
        .circle_info {
          h1 {
            transform: scale(1);
            transition: 0.7s ease-in-out 0.7s;
          }
        }
      }
    }
  }
}


@keyframes titleAnimation {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  20% {
    transform: translateY(50px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}