@mixin font_bold($font_size, $color) {
  font-family: 'Helvetica Neue, Bold';
  font-size: $font_size+px;
  color: $color;
}

@mixin font_regular($font_size, $color) {
  font-family: 'Helvetica Neue, Regular';
  font-size: $font_size+px;
  color: $color;
}

@mixin font_medium($font_size, $color) {
  font-family: 'Helvetica Neue, Medium';
  font-size: $font_size+px;
  color: $color;
}