$white_color: #ffffff;
$black_color: #000000;
$black_color_info: #151C1F;
$gradient_color_1: #34C7A0;
$gradient_color_2: #008AA2;
$green_dark: #00B6A3;
$grey_color: #B3B3B3;
$grey_border_color: #EBEBEB;
$grey_dark: #898694;
$white_25: rgba(255, 255, 255, 0.25);
$green_25: rgba(0, 182, 163, 0.25);

$radius_28: 28px 28px 28px 28px;

