/* Welcome section */
.welcome_message {
  background-color: $white_color;
  border-radius: $radius_28;
  padding: 24px 24px 24px 27px;

  h1 {
    @include font_bold(34, $green_dark);
    margin-bottom: 10px;

  }

  span {
    @include font_medium(16, $grey_dark);
    display: block;
  }
}

.day_single {
  background-color: $white_25;
  border-radius: $radius_28;
  padding: 24px 24px 24px 10px;
  @extend .display_flex_start;

  img {
    margin-right: 10px;
    cursor: pointer;
  }

  h1 {
    @include font_bold(34, $white_color);
    display: inline-block;
  }

  span {
    @include font_medium(16, $white_color);
    opacity: 0.7;
    display: block;
    margin-top: 10px;
  }
}
/* Days list section */
.days_div {
  margin: 30px 0px;
  display: flex;

  .one_day {
    width: 60px;
    height: 60px;
    border-radius: 23px 23px 23px 23px;
    background-color: $white_25;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;

    span {
      text-align: center;

      h5 {
        opacity: 0.7;
        @include font_medium(16, $white_color);
        text-transform: uppercase;
      }
    }

    &:last-child {
      margin-right: 0px;
    }

    &:hover, &.active {
      background-color: $white_color;
      box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.10);
      transition: 0.5s;

      h5 {
        opacity: 0.7;
        @include font_medium(16, #00B6A3);
      }
    }
  }
}
/* Activity section */
.activity {
  background-color: $white_25;
  padding: 25px 20px 46px 20.02px;
  border-radius: $radius_28;

  h3 {
    padding-left: 55.98px;
    @include font_bold(38, $white_color);
    margin-top: 25px;
  }
}

.tracker_info {
  @extend .display_flex_start;
  position: relative;


  .tracker_info_text {
    display: inline-block;

    h1 {
      @include font_medium(20, $white_color);
    }

    h2 {
      @include font_medium(16, $white_color);
      opacity: 0.7;
    }
  }
}

.tracker_info_dot {
  height: 40.98px;
  width: 40.98px;
  border-radius: 50%;
  background-color: $white_25;
  @extend .display_flex_center;
  margin-right: 15px;

}
/* Steps and calories section */
.steps_cal {
  background-color: $white_25;
  border-radius: $radius_28;
  padding: 24px 30px 24px 20px;
  margin-top: 15px;

  .total_steps_cal {
    position: absolute;
    right: 0px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      @include font_bold(38, $white_color);
    }
  }

  .tracker_info {
    min-height: 45px;
  }
}




