/* Day single info */
.day_info {
  border-radius: 28px 28px 0px 0px;
  padding: 40px 38px 29px 33px;
  background-color: $white_color;
  text-align: center;

  .circle {
    width: 231px;
    height: 231px;
    border: 8px solid $green_dark;
    border-radius: 50%;
    display: inline-block;
    padding-top: 20px;
    margin-bottom: 30px;

    .tracker_info_dot {
      background-color: $green_25;
      margin-right: 0px;
    }

    .circle_info {
      display: inline-block;

      span {
        @include font_regular(20, $black_color_info);
        margin: 6.02px 0px 4px 0px;
        display: block;
      }

      h1 {
        @include font_bold(48, $black_color_info);
        transform: scale(0.5);
        transition: 0.5s;
      }
    }
  }

  .message_info {
    margin-bottom: 73.96px;

    span {
      @include font_regular(20, $black_color_info);
    }

    h1 {
      @include font_bold(40, $black_color_info);
    }
  }
}

/* Bottom details */
.bottom_details {
  .bottom_info {
    display: inline-block;
    border-right: 1px solid $grey_border_color;
    padding: 0px 21.5px 0px 22.5px;
    min-height: 78.54px;

    &:first-child {
      padding: 0px 22.5px 0px 0px;
    }

    &:last-child {
      border-right: none;
      padding: 0px 0px 0px 22.5px;
    }

    span {
      @include font_regular(18, $grey_color);
    }

    h1 {
      @include font_bold(40, $green_dark);
    }
  }
}