.container {
  width: 375px;
  height: 812px;
  margin: auto;
  background-image: linear-gradient(152deg, $gradient_color_1, $gradient_color_2);
  padding: 20px 17px 0px 18px;
  position: relative;
  overflow: hidden;
}
.container , .one_day_info{
  width: 375px;
  height: 812px;
  background-image: linear-gradient(152deg, $gradient_color_1, $gradient_color_2);
  padding: 20px 17px 0px 18px;
  overflow: hidden;
}

.display_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


h1, h2, h3, h4, h5 {
  margin-bottom: 0px;
}

.inline_block {
  display: inline-block;
}